.app {
  display: flex;
  width: 100%;
}

.calc-wrapper {
  width: 22%;
  height: 690px;
  min-width: 300px;
  background-color: rgb(172, 215, 235);
  padding: 1.6em;
  border: 2px solid #000000;
  margin: 40px auto;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 88%;
  height: 120px;
  justify-content: flex-end;
  font-size: 1.6em;
  background-color: #ffffff;
  color: #000000;
  padding: 0.4em 0.6em;
  border: 2px solid #000000;
  margin: 0 auto 0.8em;
}

.row {
  display: flex;
  width: 100%;
}

.row2 {
  display: inline-flex;
  width: 50%;
}
