.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

.calc-wrapper {
  width: 22%;
  /* height: 590px; */
  background-color: rgb(172, 215, 235);
  padding: 1.6em;
  border: 1px solid #000000;
}

.row {
  display: flex;
  width: 100%;
}

.row2 {
  display: inline-flex;
  width: 50%;
}
